<body bgcolor="#ffffff">
Top Ten Administration
<P>
Add a file to the repository
<P>
<FORM METHOD="POST"  ENCTYPE="application/x-www-form-urlencoded">
File to upload: <INPUT TYPE="text" NAME="40" VALUE=""><INPUT TYPE="submit" NAME="Browse..." VALUE="Browse..."><BR>Title: <INPUT TYPE="text" NAME="20" VALUE=""><INPUT TYPE="submit" NAME="Add" VALUE="Add"><P>Zero a file's hit counter<P>Pick file...<INPUT TYPE="submit" NAME="Zero" VALUE="Zero"><P>Delete a file<P>Pick file...<INPUT TYPE="submit" NAME="Delete" VALUE="Delete"><P></FORM>