<hr>
<h2>Please rate this page</h2>

<FORM METHOD="POST" 
      ACTION="/perl/rateit"
      ENCTYPE="application/x-www-form-urlencoded">

<INPUT TYPE="checkbox" NAME="rating" VALUE="1">I'm dumber for having read it

<INPUT TYPE="checkbox" NAME="rating" VALUE="2">Useless

<INPUT TYPE="checkbox" NAME="rating" VALUE="3">Not very helpful

<INPUT TYPE="checkbox" NAME="rating" VALUE="4">Somewhat helpful

<INPUT TYPE="checkbox" NAME="rating" VALUE="5">Just what I needed
<p>
<INPUT TYPE="submit" VALUE="Submit Rating">
</FORM>
