<HR>
<FONT FACE="Arial,Helvetica" SIZE=+2><B>Please rate this page</B></FONT><P>

<FORM METHOD="POST"  ENCTYPE="application/x-www-form-urlencoded">
<INPUT TYPE="radio" NAME="w" VALUE="I'm dumber for having read it" CHECKED>I'm dumber for having read it <INPUT TYPE="radio" NAME="w" VALUE="Useless">Useless <INPUT TYPE="radio" NAME="w" VALUE="Not very helpful">Not very helpful <INPUT TYPE="radio" NAME="w" VALUE="Somewhat helpful">Somewhat helpful <INPUT TYPE="radio" NAME="w" VALUE="Just what I needed">Just what I needed <P><INPUT TYPE="submit" NAME="Submit Rating" VALUE="Submit Rating"><P><INPUT TYPE="hidden" NAME=".cgifields" VALUE="w"></FORM>