<BODY BGCOLOR="#ffffff">
<FONT FACE="Arial,Helvetica" SIZE=+2><B>Top Ten Tracked Documents</B></FONT><P>
<table border="0" width="75%">
  <tr>
    <th>#</th><th>Title</th><th>Hits</th><th>Rating</th>
  </tr>
  <tr bgcolor="#ffaaff"><td>1</td><td width="75%">Unclogging pipes with <CODE>$|</CODE></td><td>22</td><td>4.80</td></tr>
  <tr bgcolor="white"><td>2</td><td width="50%">Sandblasting your Lemur</td><td>837</td><td>3.21</td></tr>
  <tr bgcolor="#ffaaff"><td>3</td><td width="50%">HTTP POST with LWP</td><td>12</td><td>3.21</td></tr>
  <tr bgcolor="white"><td>4</td><td width="50%">Creating Applications with mod_perl and Apache</td><td>2</td><td>1.50</td></tr>
  <tr bgcolor="#ffaaff"><td>5</td><td width="50%">Teach Yourself Quantum Physics in 21 Attofortnights</td><td>51047</td><td>1.21</td></tr>
</table>
<A HREF="foo">All Tracked Documents</A>
